<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Team Pinaki</title>
</head>
<body>
    <div>
        <h1>Deep Fake Detection</h1>
    </div>
    <div class="container">
        <form method="post" action="/predict" enctype="multipart/form-data">
    
            <label for="model_select">Select Model:</label>
            <select name="model_select" id="model_select">
                <option value="image">Image</option>
                <option value="audio">Audio</option>
                <option value="video">Video</option>
            </select>
            <br>
            <br>
            <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif, .wav, .mp3, .mp4">
            <br>
            <br>
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
